<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457984069949-79sdutia34vvkn2fcetcq1sblmhe38gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457984069949-79sdutia34vvkn2fcetcq1sblmhe38gk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457984069949-27t84k2dm2l8li57c32rjm114iedk15o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALTitHVwBgCG1m0be8bx7E_0O1vfMF00M</string>
	<key>GCM_SENDER_ID</key>
	<string>457984069949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everglot</string>
	<key>PROJECT_ID</key>
	<string>everglot-api</string>
	<key>STORAGE_BUCKET</key>
	<string>everglot-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:457984069949:ios:edc8cf03bf23e0de74b554</string>
</dict>
</plist>
